{{ define "main" }}
{{ partial "page-title.html" . }}

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center">
    {{-  range $idx, $page := (sort .Pages ".Weight" "asc") -}}

    {{- $profileimg := .Resources.GetMatch "profile.*" }}

    <div class="col">
        <div class="card border-0 shadow-lg pt-5 my-5 h-75">            
            <div class="card-img-top position-absolute top-0 start-50 translate-middle text-center">
                {{- with $profileimg }}
                {{ $cropped := .Fill "150x150 Center" }}
                <img class="rounded-circle mx-auto d-inline-block shadow-sm" src="{{ $cropped.Permalink }}" alt="">
                {{- end -}}
            </div>
            <div class="card-body mt-3">
                <h5 class="mb-0 text-center card-title fw-semibold">{{ .Params.name }}</h5>
                <div class="card-text mb-3 text-center text-muted">{{ .Params.role }}</div>
                <div class="card-text pt-2">{{ .Content }}</div>
            </div>

            {{- if or (.Params.links) (.Params.email) -}}
            <div class="card-footer bg-primary text-center">
                <ul class="list-inline mb-0 mx-auto">
                    {{- with .Params.email }}
                    <li class="list-inline-item"><a href="mailto:{{ . }}"><i data-feather="mail"></i></a></li>
                    {{- end -}}
                    {{- with .Params.links }}
                    {{- range . -}}
                    <li class="list-inline-item"><a href="{{ .url }}"><i data-feather="{{ .icon }}"></i></a></li>
                    {{- end -}}
                    {{- end -}}
                </ul>
            </div>
            {{- end -}}

        </div>
    </div>   
   
    {{- end -}}

    </div>
</div>

<script>
    feather.replace();
</script>

{{ end }}