@import "../bootstrap/scss/mixins/banner";
@include bsBanner("");
@import "../bootstrap/scss/functions";

// Default variable overrides
$font-family-sans-serif: "Libre Franklin";
$font-family-base: "Lora";

$headings-font-family: "Libre Franklin";
$headings-font-weight: 600;

$display-font-family: "Libre Franklin";
$display-font-weight: 300;

$line-height-base: 1.70;

$headings-margin-bottom: 1.5rem;

//Color
$primary: #493bb1;
$secondary: #292365;

$body-color-dark: #1a1a1a;
$body-bg-dark: #f9f9f9;

@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/variables-dark";

@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";

// Optional
@import "../bootstrap/scss/utilities";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/helpers";
@import "../bootstrap/scss/tables";
@import "../bootstrap/scss/forms";
@import "../bootstrap/scss/buttons";
@import "../bootstrap/scss/transitions";
@import "../bootstrap/scss/dropdown";
@import "../bootstrap/scss/button-group";
@import "../bootstrap/scss/nav";
@import "../bootstrap/scss/navbar";
@import "../bootstrap/scss/card";
@import "../bootstrap/scss/accordion";
@import "../bootstrap/scss/breadcrumb";
@import "../bootstrap/scss/pagination";
@import "../bootstrap/scss/badge";
@import "../bootstrap/scss/alert";
@import "../bootstrap/scss/progress";
@import "../bootstrap/scss/list-group";
@import "../bootstrap/scss/close";
@import "../bootstrap/scss/toasts";
@import "../bootstrap/scss/modal";
@import "../bootstrap/scss/tooltip";
@import "../bootstrap/scss/popover";
@import "../bootstrap/scss/carousel";
@import "../bootstrap/scss/spinners";
@import "../bootstrap/scss/offcanvas";
@import "../bootstrap/scss/placeholders";

@import "../bootstrap/scss/utilities/api";

@import "style.scss";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600&family=Lora:ital@0;1&display=swap');