.navbar-brand {
  font-family: $font-family-sans-serif;
  font-weight: 200;
}

.nav-link {
  font-family: $font-family-sans-serif;
  font-weight: 200;
}

.navbar-site-logo {
  max-height: 50px;
}

.page-header {
  padding-top: clamp(40px, 5vw, 100px);
  padding-bottom: clamp(40px, 5vw, 100px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, h3 {
  text-transform: uppercase;
}

.navbar-toggler-icon {
  font-size: 1.3rem;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  font-family: $font-family-sans-serif;
  font-size: 1rem;
}

.link-arrow {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  //color: #fd4c42;
}

.link-arrow p {
  display: inline-block;
  transition: 0.1s ease-in;
  font-size: larger;
}

.link-arrow:hover p {
  transform: translateX(50%);
}

.link-arrow-left:hover p {
  transform: translateX(-50%);
}

.section-title {
  font-family: $font-family-sans-serif;
  font-weight: 300;
}

.card-animated {
  transition: .2s transform cubic-bezier(.155,1.105,.295,1.12),.2s box-shadow,.2s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card-animated:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-title {
  font-family: $font-family-sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

.card-publication-list {
  background: #fff;
  //padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.fs-small {
  font-size: 1.2rem;
}

.card-text-date {
  font-size: 0.9rem;
  font-family: $font-family-sans-serif;
}

.navbar-toggler {
  border: none;
}

.hero-container {
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-image {
  //min-height: 70vh;
  max-height: 90vh;
}

.hero-container-inner {
  min-height: 80vh;
}

.lead {
  font-family: $font-family-sans-serif;
}

.btn {
  font-family: $font-family-sans-serif;
}

.feather {
  fill: none;
  stroke: white;
  stroke-width: 1.5;
  transition: all 0.2s linear;
}

.feather:hover {
  transform: scale(1.5);
}

.ff-sanserif {
  font-family: $font-family-sans-serif;
}

.card-img-slanted {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  box-sizing: border-box;
  clip-path: polygon(0% 80%, 0% 0%, 100% 0%, 100% 100%);
}

.card-icon img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 27%;
  left: 1.25rem;
}

.figure-news-featured img {
  width: 65vw;
}