.navbar-brand {
  font-family: "Libre Franklin";
  font-weight: 200;
}

.nav-link {
  font-family: "Libre Franklin";
  font-weight: 200;
}

.navbar-site-logo {
  max-height: 50px;
}

.page-header {
  padding-top: clamp(40px, 7vw, 100px);
  padding-bottom: clamp(40px, 7vw, 100px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, h3 {
  text-transform: uppercase;
}

.navbar-toggler-icon {
  font-size: 1.3rem;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*
#content a {
  text-decoration: none;
  border-bottom: 2px dashed transparent;
  transition: all 0.2s ease-in;
}

#content a:hover {
  color: #b8238d;
  border-color: #b8238d;
}
*/

#content a {
  text-decoration: none;
}

/*
#content a:hover {
  color: #b8238d;
}
*/

footer {
  font-family: "Libre Franklin";
  font-size: 10pt;
}

.link-arrow {
  font-family: "Libre Franklin";
  font-weight: 400;
  color: #ef443b;
}

.link-arrow p {
  display: inline-block;
  transition: 0.1s ease-in;
  font-size: larger;
}

.link-arrow:hover p {
  transform: translateX(50%);
}

.link-arrow-left:hover p {
  transform: translateX(-50%);
}

.section-title {
  font-family: "Libre Franklin";
  font-weight: 300;
}

.card-animated {
  transition: .2s transform cubic-bezier(.155,1.105,.295,1.12),.2s box-shadow,.2s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.card-animated:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-title {
  font-family: "Libre Franklin";
  font-weight: 300;
  line-height: 1.4;
}

.card-publication-list {
  background: #fff;
  //padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.fs-small {
  font-size: 1.2rem;
}

.card-text-date {
  font-size: 0.9rem;
  font-family: "Libre Franklin";
}

.navbar-toggler {
  border: none;
}

.hero-container {
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
}

.lead {
  font-family: "Libre Franklin";
}

.btn {
  font-family: "Libre Franklin";
}

.team-profile {
  top: -75px;
  left: 0;
}

.team-profile img {
  width: 150px;
  height: 150px;
}

.feather {
  fill: none;
  stroke: white;
  stroke-width: 1.5;
  transition: all 0.2s linear;
}

.feather:hover {
  transform: scale(1.5);
}

.ff-sanserif {
  font-family: $font-family-sans-serif;
}