{{ define "main" }}
{{- if not .IsHome -}}
{{ $headerimg := .Resources.GetMatch "headerimg.*" }}
<div class="text-center page-header mb-4" {{- with $headerimg }}style="background-image: url('{{ .Permalink }}')"{{ end -}}>
  <span class="display-5 {{ with .Params.headerfont }}text-{{ . }}{{ end -}}">{{ .Title | upper }}</span>
</div>
{{- end -}}

<div class="container pb-2">
     <div class="publist mt-4">
        {{- range (.Paginate (first 20 .Pages.ByDate)).Pages -}}
            <div class="col-1 text-end"></div>
            <div class="col">
                <div class="row">
                    {{ .Title }}
                    {{ .Summary }}                
                </div>
            </div>
        {{- end -}}
    </div>
</div>

{{ end }}