{{ define "main" }}
{{- if not .IsHome -}}
{{ $headerimg := .Resources.GetMatch "featured.*" }}
<div class="text-center page-header mb-4" {{- with $headerimg }}style="background-image: url('{{ .Permalink }}')"{{ end -}}>
  <span class="display-5 {{ with .Params.headerfont }}text-{{ . }}{{ end -}}">{{ .Title | upper }}</span>
</div>
{{- end -}}

{{- $paginator := .Paginate .Pages.ByDate -}}

<div class="container pb-2">
    {{- range $index, $page := $paginator.Pages -}}
    <div class="row position-relative">
        {{ $featimg := .Resources.GetMatch "featured*" }}
        {{ with $featimg }}
        {{- $cropped := .Fill "200x200 Center" -}}
        <div class="col-12 mb-4 mb-md-0 col-md-4 col-lg-3">
            <img src="{{ .Permalink }}" class="img-fluid">
        </div>
        {{ end }}
        <div class="col position-static">
                <h4 class="mb-2"><a href="{{ .Permalink}}" class="stretched-link">{{ .Title }}</a></h4>
                <p class="mb-2 text-body-secondary fs-small">{{ .Date.Format "2 January 2006" }}</p>
                <p class="mb-1">{{ .Summary }}</p>                                       
        </div>
    </div>
    {{- if (lt (add $index 1) $paginator.NumberOfElements) }}
    <hr>
    {{ end }}
    {{- end -}}

    <div class="row">
        <div class="d-flex mb-3">
            {{- if $paginator.HasPrev -}}
            <div class="me-auto p-2">
                <a href="{{ $paginator.Prev.URL }}" class="link-arrow link-arrow-left"><p>&larr;</p> Newer</a>
            </div>
            {{- end -}}
            {{- if $paginator.HasNext -}}
            <div class="ms-auto p-2">
                <a href="{{ $paginator.Next.URL }}" class="link-arrow">Older <p>&rarr;</p></a>
            </div>
            {{- end -}}
        </div>
    </div>
</div>

{{ end }}