{{- $maincss := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "main.scss" . | toCSS | minify | fingerprint -}}
{{- $favicon := resources.GetMatch "favicon*" -}}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {{- with $maincss -}}
    <link href="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" rel="stylesheet">
    {{- end -}}
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital@0;1&family=Parisienne&display=swap" rel="stylesheet">
    
    <link rel="icon" type="image/png" href="{{ $favicon.Permalink }}">
    
    {{- $title := print .Site.Title " | " .Title -}}
    {{- if .IsHome -}}{{- $title = .Site.Title -}}{{- end }}
    <title>{{ $title }}</title>
</head>
