<nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{ .Site.Title | upper }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            {{ $currentPage := . }}
            {{- range .Site.Menus.main -}}
                {{- $menu_item_url := .URL -}}
                {{- $page_url := $currentPage.RelPermalink -}}
                {{ $active := or (eq $.Permalink .URL) (eq $menu_item_url $page_url) }}                        
                {{ if .HasChildren -}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ .Name }}
                    </a>
                    <ul class="dropdown-menu">
                        {{- range .Children -}}
                        <li><a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a></li>
                        {{- end -}}
                    </ul>
                </li>
                {{- else -}}
                    <li class="nav-item">
                        <a class="nav-link{{ if $active }} active" aria-current="page{{ end -}}" href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                {{- end -}}
            {{- end }}            
            </ul>
        </div>
      </div>
    </div>
</nav>