{{- $section := .Get "section" | default "publications" -}}
{{- $maxitems := .Get "maxitems" | default 4 -}}

{{- $pages := where .Site.RegularPages "Section" $section -}}

<div class="row mt-5">
    <div class="col"><h4 class="section-title">PUBLICATIONS</h4></div>
    <div class="col-4 text-end"><a href="{{ .Site.BaseURL }}{{ $section }}" class="link-arrow">View all <p>&#10132;</p></a></div>
</div>

<div class="row">
    {{- range first $maxitems (sort $pages ".Params.year" "desc") -}}
    {{- $page := .RelPermalink -}}
    <div class="col-12 mb-3">
        <div class="card card-publication-list">
            {{- with .Resources.GetMatch "cover*" -}}            
            {{- end -}}
                <a href="https://doi.org/{{ .Params.doi }}" class="stretched-link">{{ .Title }}</a>
                <small>
                {{- $lenauths := len .Params.author -}}
                {{- range $idx, $name := ( .Params.author | default "" ) -}}
                    {{- print " " $name -}}
                    {{- if gt $lenauths 1 -}}
                        {{- if lt (add $idx 1) (sub $lenauths 1) -}}
                        , 
                        {{- else if eq (add $idx 1) (sub $lenauths 1) -}}
                            {{- if gt $lenauths 2 -}},{{end}} and 
                        {{- end -}}
                    {{- end -}}
                {{- end -}}.                
                </small>
                <p class="card-text"><small class="text-body-secondary">{{ .Params.publication }} &bull; {{ .Params.year }}</small></p>
        </div>
    </div>
    {{- end -}}
</div>