{{- $section := .Get "section" | default "publications" -}}
{{- $maxitems := .Get "maxitems" | default 4 -}}


<div class="container mb-4">
    <div class="row mt-3">
        <div class="col"><h4 class="section-title">PUBLICATIONS</h4></div>
        <div class="col-4 text-end"><a href="{{ .Site.BaseURL }}{{ $section }}" class="link-arrow fs-small">View all <p>&rarr;</p></a></div>
    </div>

    {{- $pages := where .Site.RegularPages "Section" $section -}}
    
    {{- range first $maxitems (sort $pages ".Params.year" "desc") -}}
    {{- $page := .RelPermalink -}}
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card card-publication-list">
                <div class="row g-0">
                    {{- with .Resources.GetMatch "featured*" -}}
                    {{- $cropped := .Fill "200x200 Center" }}
                    <div class="col-2 col-sm-3 d-none d-md-block text-end">                              
                        <img src="{{ $cropped.Permalink }}" class="img-fluid">
                    </div>
                    {{- end -}}
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title"><a href="https://doi.org/{{ .Params.doi }}" class="stretched-link">{{ .Title }}</a></h5>
                            <p class="card-text fs-small text-body-secondary mb-1">
                            {{- $lenauths := len .Params.author -}}
                            {{- range $idx, $name := ( .Params.author | default "" ) -}}
                                {{- print " " $name -}}
                                {{- if gt $lenauths 1 -}}
                                    {{- if lt (add $idx 1) (sub $lenauths 1) -}}
                                    , 
                                    {{- else if eq (add $idx 1) (sub $lenauths 1) -}}
                                        {{- if gt $lenauths 2 -}},{{end}} and 
                                    {{- end -}}
                                {{- end -}}
                            {{- end -}}.                
                            </p>
                            <p class="card-text fs-small card-text-date text-body-secondary">{{ .Params.publication }} &bull; {{ .Params.pubdate.Format "January 2006" }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{- end -}}
    
</div>